body {
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
}
/* .mendelson-website-container.info-tab {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/GavelOne.jpg");
} */
.mendelson-website-container {
  display: flex;
  margin: 0 !important;
  padding: 0;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/CourthouseFive.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', sans-serif;
  .mendelson-website-home, .mendelson-website-about {
    flex: 1;
    height: 100vh;
    width: 100vw;
  }
}